<div id="start" class="start">
			<div>
				<img class="img-responsive center-block" src="img/6569e244979051.5823f07887221.jpg" alt="" />
			</div>
			<div>
				<img class="img-responsive center-block" src="img/c6412e45448491.58316db1ed79a.jpg" alt="" />
			</div>
			<div>
				<img class="img-responsive center-block" src="img/c6793944979051.5823f07886bce.jpg" alt="" />
			</div>
			<div>
				<img class="img-responsive center-block" src="img/37a3bc45448491.58316db1ed26b.jpg" alt="" />
			</div>
			<div>
				<img class="img-responsive center-block" src="img/8535c052361395.590e01180e3b2.jpg" alt="" />
			</div>
			<div>
				<a  href="#">
				     
				      <img class="img-responsive center-block" src="img/2bdf6549366235.58b2fd57bbe13.jpg" alt="" />
				</a> 
				<a id="btn" href="#!/restaurant" title="点击以进入">Welcome To Restaurant</a>
			</div>
			 <!--<ui-view></ui-view>-->
</div>